<form (ngSubmit)="onSubmit()" #postForm="ngForm" >
  <div [@flyInOut]="postMess" id="post_body" class="modal-content" style="position: static;">
    <div style="overflow:hidden; padding: 10px 20px 10px 20px;">
      <span style="float:left;">username</span>
      <span style="float:right;">Setting</span>
    </div>
    <div
         style="background-color: #dadada; color: black;padding: 10px 20px 10px 20px; overflow: hidden;border-bottom: 2px dashed rgba(132,132,132,0.2); border-top: 2px dashed rgba(132,132,132,0.2);">
      <div class="con" contenteditable="true" placeholder="Type or paste a url" [@flyInOut]="linkPost"
           style="min-height: 20px; font-size: 20px;padding: 50px 20px 50px 20px"></div>

    </div>
    <div style="padding: 10px 20px 10px 20px; overflow: hidden; ">

      <button class="btn btn-primary btn-xs" style="float:left;" (click)="hidePost()">Close</button>
      <button type="submit" class="btn btn-primary btn-xs" style="float:right;">Post</button>
    </div>
  </div>
</form>
