<div style="position: relative; text-align: center">
  <div class="insert_cross" (click)="closeCamera()"></div>
  <video id="camera" width="100%" height="auto" autoplay></video>
  <canvas id="canvas" width="100%" height="auto" style="display: none">Sorry, your browser doesn't support</canvas>
  <div style="position: absolute; top: 300px; text-align: center">
    <md-icon id="snap" (click)="snapPhoto()" style="font-size: 48px;margin: 10px">add_a_photo</md-icon>
  </div>
  <div style="position: absolute; top: 300px; text-align: center">
    <md-icon id="refresh" (click)="refreshPhoto()" style="font-size: 48px;display: none; margin: 10px">refresh</md-icon>
    <md-icon id="publish" (click)="uploadPhoto($event)" style="font-size: 48px;display: none;margin: 10px">publish
    </md-icon>
  </div>
</div>

<!--
<a id="camera_photo" style="display: none"></a>
<div
style="padding: 10px 20px 10px 20px; border-top: 2px solid rgba(132,132,132,0.2);border-bottom: 2px solid rgba(132,132,132,0.2);">


<rich-text #content [placeholder]="'Add a caption if you like'"></rich-text>

<div id="tag" class="con" contenteditable="true" data-placeholder="#tag" [@flyInOut]="textPost"
     style="min-height: 20px; font-size: 20px;margin-top: 30px"></div>


</div>
-->
